

  
<div class="grid-x align-center">
  <div class="cell medium-8">
      
  
  {% if listLeds %}
   {% for led in listLeds %}
  <form  class="formledaudio" action="{{ path('menu_edit_led', {'id': led.id}) }}" method="post" >
    {% endfor %}
  {% else %}
  <form  class="formledaudio" action="{{ path('menu_led_add') }}" method="post" >
  {% endif %}     

   



    <fieldset class="fieldset">
		
		
		
    <legend>{{ form_label(form.Jours,"Jours") }}</legend>
    
    
   
   
    {% for field in form.Jours %}
       <div class="scores">
         {{ form_widget(field) }}
         {{ form_label(field) }}
       </div>
    {% endfor %}
    </fieldset>

  
   
  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  
			   
	

		 
    {# Génération du label. #}
    {{ form_label(form.heure,"Heures") }}

    {# Affichage des erreurs pour ce champ précis. #}
    <span class="error">{{ form_errors(form.heure) }}</span>
         
              
              {# Génération de l'input. #}
              {{ form_widget(form.heure) }}
            
    <br/>
		
    
    {# Génération du label. #}
    {{ form_label(form.minute,"Minutes") }}

    {# Affichage des erreurs pour ce champ précis. #}
    <span class="error">{{ form_errors(form.minute) }}</span>
       
             
              {# Génération de l'input. #}
            {{ form_widget(form.minute) }}
            
	
   <br/>
	
    
    {# Génération du label. #}
    {{ form_label(form.dureeProgressionAllumage,"Durée de la LED (en minutes)") }}

    {# Affichage des erreurs pour ce champ précis. #}
    <span class="error">{{ form_errors(form.dureeProgressionAllumage) }}</span>

              
              {# Génération de l'input. #}
            {{ form_widget(form.dureeProgressionAllumage) }}
            
    <br/>       
            
            
    {# Génération du label. #}
    {{ form_label(form.luminositeFinAllumage, "Niveau de luminosité (%)") }}

    {# Affichage des erreurs pour ce champ précis. #}
    <span class="error">{{ form_errors(form.luminositeFinAllumage) }}</span>

            
              {# Génération de l'input. #}
            {{ form_widget(form.luminositeFinAllumage) }}
            
             
    
		             
				 
		<br/>			 
		
		
    

        <input type="submit" class="button medium"  value="Valider"  />	
	    {% if listLeds %}	
		 {% for led in listLeds %}
		<a href="{{ path('menu_led_view', {'id': led.id}) }}" class="button medium">Annuler</a>
		 {% endfor %}
		{% else %}
		<a href="{{ path('menu_verif_led')}}" class="button medium">Annuler</a>
		{% endif %}
		
	  
		
		
	 {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
      
	  {{ form_rest(form) }}
     

    </form>

   </div>
</div>  


	
